*{
    margin: 0px;
    padding: 0px;
}
.newPgImg h2{
     font-family: 'Fredoka',serif;
     margin:0px;
     color: white;
     font-size: 5rem;
     padding-left: 200px;

 }


.newPgImg {
     height: 400px;
     color: darkblue;
     display: flex;
     align-items: center;
     margin: 0px;
     background: url('../../images/hero2.webp') center;
     background-repeat: no-repeat;
     width: 100%;
     z-index: -1;
 }